.bold {
    -fx-font-weight: bold;
}

.italic {
    -fx-font-style: italic;
}

.underline {
    -fx-text-decoration: underline;
}

.strikethrough {
    -fx-text-decoration: strikethrough;
}

.highlighted {
    -fx-background-color: lightblue;
}

.combatants {
    -fx-spacing: 10;
}

.combatant {
    -fx-spacing: 10;
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-background-radius: 4;
}

.combatant__image {
    -fx-background-color: black;
}

.combatant--red {
    -fx-border-width: 5;
    -fx-border-color: red;

}

.combatant--green {
    -fx-border-width: 5;
    -fx-border-color: green;

}

.combatant--blue {
    -fx-border-width: 5;
    -fx-border-color: blue;

}